<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">

    
    
	<div class="form-group">
        <label for="company_name" class="control-label col-xs-12 col-sm-2">{:__('Company_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="company_name" name="row[company_name]" value="{$row.company_name}" data-rule="required" disabled="disabled" />
        </div>
    </div>
	<div class="form-group">
        <label for="company_address" class="control-label col-xs-12 col-sm-2">{:__('Company_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="company_address" name="row[company_address]" value="{$row.company_address}" data-rule="required" disabled="disabled"/>
        </div>
    </div>
    <div class="form-group">
        <label for="AgencyPicID1" class="control-label col-xs-12 col-sm-2">{:__('AgencyPicID1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input id="AgencyPicID1" class="form-control" size="50" name="row[AgencyPicID1]" type="text" value="{$row.AgencyPicID1}" disabled="disabled">
                <span><button type="button" id="1plupload-image" class="btn btn-danger plupload" data-input-id="AgencyPicID1" data-mimetype="image/*" data-multiple="false" data-preview-id="1-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span><button type="button" id="1fachoose-image" class="btn btn-primary fachoose" data-input-id="AgencyPicID1" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                <ul class="row list-inline plupload-preview" id="1-image"></ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="AgencyPicID2" class="control-label col-xs-12 col-sm-2">{:__('AgencyPicID2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input id="AgencyPicID2" class="form-control" size="50" name="row[AgencyPicID2]" type="text" value="{$row.AgencyPicID2}" disabled="disabled">
                <span><button type="button" id="2plupload-image" class="btn btn-danger plupload" data-input-id="AgencyPicID2" data-mimetype="image/*" data-multiple="false" data-preview-id="2-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span><button type="button" id="2fachoose-image" class="btn btn-primary fachoose" data-input-id="AgencyPicID2" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                <ul class="row list-inline plupload-preview" id="2-image"></ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="AgencyPicID3" class="control-label col-xs-12 col-sm-2">{:__('AgencyPicID3')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input id="AgencyPicID3" class="form-control" size="50" name="row[AgencyPicID3]" type="text" value="{$row.AgencyPicID3}" disabled="disabled">
                <span><button type="button" id="3plupload-image" class="btn btn-danger plupload" data-input-id="AgencyPicID3" data-mimetype="image/*" data-multiple="false" data-preview-id="3-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span><button type="button" id="3fachoose-image" class="btn btn-primary fachoose" data-input-id="AgencyPicID3" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                <ul class="row list-inline plupload-preview" id="3-image"></ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="AgencyPicID4" class="control-label col-xs-12 col-sm-2">{:__('AgencyPicID4')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input id="AgencyPicID4" class="form-control" size="50" name="row[AgencyPicID4]" type="text" value="{$row.AgencyPicID4}" disabled="disabled">
                <span><button type="button" id="4plupload-image" class="btn btn-danger plupload" data-input-id="AgencyPicID4" data-mimetype="image/*" data-multiple="false" data-preview-id="4-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span><button type="button" id="4fachoose-image" class="btn btn-primary fachoose" data-input-id="AgencyPicID4" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                <ul class="row list-inline plupload-preview" id="4-image"></ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="AgencyPicID5" class="control-label col-xs-12 col-sm-2">{:__('AgencyPicID5')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input id="AgencyPicID5" class="form-control" size="50" name="row[AgencyPicID5]" type="text" value="{$row.AgencyPicID5}" disabled="disabled">
                <span><button type="button" id="5plupload-image" class="btn btn-danger plupload" data-input-id="AgencyPicID5" data-mimetype="image/*" data-multiple="false" data-preview-id="5-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span><button type="button" id="5fachoose-image" class="btn btn-primary fachoose" data-input-id="AgencyPicID5" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                <ul class="row list-inline plupload-preview" id="5-image"></ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="user_name" class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="user_name" name="row[user_name]" value="{$row.user_name}" disabled="disabled" />
        </div>
    </div>
    <div class="form-group">
        <label for="level" class="control-label col-xs-12 col-sm-2">{:__('Level')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[level]', ['2'=>__('区级代理商'), '3'=>__('市级代理商')], $row['level'], ['id'=>'level','class'=>'form-control selectpicker','data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group" style="display: none;">
        <label for="user_id" class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="user_id" name="row[user_id]" value="{$row.user_id}" disabled="disabled" />
        </div>
    </div>
	<div class="form-group"> 
        <label for="shop_id" class="control-label col-xs-12 col-sm-2">{:__('Shop_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control selectpage" id="shop_id" name="row[shop_id]" data-source="car/selectpage" data-params='{"custom[type]":"product"}' value="{$row.shop_id}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="parent_agency_id" class="control-label col-xs-12 col-sm-2">{:__('Parent_agency_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control selectpage" id="parent_agency_id" name="row[parent_agency_id]" data-source="userprofile/selectpage" data-params='{"custom[member_level]":"3"}' value="{$row.parent_agency_id}" />
        </div>
    </div>
    <div class="form-group">
        <label for="remark" class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="remark" name="row[remark]" value="{$row.remark}" />
        </div>
    </div>
    <div class="form-group">
        <label for="status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['0'=>__('已提交'), '1'=>__('未通过'),'2'=>__('已通过')], $row['status'])}
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" id="btnsubmit" onclick="formsubmit()"  class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

<script type="text/javascript">

    

    function formsubmit() {
        var state = $('input:radio[name="row[status]"]:checked').val();
        var user_id = $('input:text[name="row[user_id]"]').val();
        var remark = $('input:text[name="row[remark]"]').val();
        var shop_id = $("#shop_id").val();
        var level = $("#level").val();
        var parent_agency_id = $("#parent_agency_id").val();
        $.ajax({

            type: 'PUT',
            dataType: 'json',
            url: "http://api.xiyueyi.cn:8687/verify/userAgency/",
            data: {state: state,remark:remark,shop_id:shop_id,level:level,parent_agency_id:parent_agency_id,user_id:user_id},
            success: function(resp) {
                    Form.api.bindevent($("form[role=form]"));
                    Controller.api.bindevent();
            },
            error: function(error) {
                return false;
            }
        });
    }

</script>