<script type="text/javascript" language="javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="name" name="row[name]" value="" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" name="row[title]" value="" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="sales" class="control-label col-xs-12 col-sm-2">{:__('Sales')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="sales" name="row[sales]" value="" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="title_image" class="control-label col-xs-12 col-sm-2">{:__('Title_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input id="title_image" class="form-control" size="50" name="row[title_image]" type="text" value="" data-rule="required" />
                <span><button type="button" id="pluploadtitle-image" class="btn btn-danger plupload" data-input-id="title_image" data-mimetype="image/*" data-multiple="false" data-preview-id="t-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span><button type="button" id="fachoosetitle-image" class="btn btn-primary fachoose" data-input-id="title_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                <ul class="row list-inline plupload-preview" id="t-image"></ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="detail_image" class="control-label col-xs-12 col-sm-2">{:__('Detail_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input id="detail_image" class="form-control" size="50" name="row[detail_image]" type="text" value="" data-rule="required" />
                <span><button type="button" id="dpluploaddetail-image" class="btn btn-danger plupload" data-input-id="detail_image" data-mimetype="image/*" data-multiple="false" data-preview-id="d-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span><button type="button" id="dachoosedetail-image" class="btn btn-primary fachoose" data-input-id="detail_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                <ul class="row list-inline plupload-preview" id="d-image"></ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="min_image" class="control-label col-xs-12 col-sm-2">{:__('Min_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input id="min_image" class="form-control" size="50" name="row[min_image]" type="text" value="">
                <span><button type="button" id="mpluploaddetail-image" class="btn btn-danger plupload" data-input-id="min_image" data-mimetype="image/*" data-multiple="false" data-preview-id="m-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span><button type="button" id="mfachoosedetail-image" class="btn btn-primary fachoose" data-input-id="min_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                <ul class="row list-inline plupload-preview" id="m-image"></ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="deposit" class="control-label col-xs-12 col-sm-2">{:__('Deposit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="deposit" name="row[deposit]" value="" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="shop_id" class="control-label col-xs-12 col-sm-2">{:__('Shop_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="shop_id" class="form-control selectpage" data-source="car/selectpage" data-params='{"custom[type]":"product"}' name="row[shop_id]" type="text" value="" data-rule="required">
        </div>
    </div>
    <div class="form-group">
        <label for="is_hot" class="control-label col-xs-12 col-sm-2">{:__('Is_hot')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_hot]', ['0'=>__('否'),'1'=>__('是')])}
        </div>
    </div>
    <div class="form-group">
        <label for="is_Preferential" class="control-label col-xs-12 col-sm-2">{:__('Is_Preferential')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_Preferential]', ['0'=>__('否'),'1'=>__('是')])}
        </div>
    </div>
    <div class="form-group">
        <label for="is_off" class="control-label col-xs-12 col-sm-2">{:__('Is_off')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_off]', ['0'=>__('否'),'1'=>__('是')])}
        </div>
    </div>
    <div class="form-frame-body" style="width:1180px;">
    <table width="100%"  cellpadding="0" cellspacing="0">
        <tr>
            <td class="form-frame-lab">属性：</td>
            <td style="width:auto">       
            <table width="100%" class="form-table gg-table" cellpadding="0" cellspacing="0" id="standsTable" style="width:100%; border-top:0;">
                <thead>
                <tr>
                    <td width="120" align="center" style="background:#e5e5e5;">
                        <div style="width:120px;">属性名称<span style="color:#999999">(如：颜色)</span></div>
                    </td>
                    <td style="background:#e5e5e5;">
                        属性值<span style="color:#999999">(如：红色)</span>
                    </td>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td>&emsp;</td>
                        <td>
                            <input type="button"  class="l-button" style="float:left" value="添加规格"  id="addStand"  />
                            <input type="button"  id="delStand" style="float:left; margin-left:10px;" class="l-button"  value="删除规格" >
                            <input type="button" value="生成规格" style="float:left; margin-left:10px;" class="l-button btn-info" id="standSave">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!-- -->        
            </td>
        </tr>

        <tr>
            <td class="form-frame-lab">属性值：</td>
            <td style="width:auto">
            <table width="100%" class="form-table gg-table" cellpadding="0" cellspacing="0" id="standsAttrTable" style="width:100%; border-top:0;">
            </table>
        </tr>

    </table>

    <div id="car_ss"></div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" id="gget_id" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>

</form>

<style>

.notdbo td{ border-width:0;}

#standsTable td{
    width:auto;
}
#m_goods_cargos_cont td{
    border-bottom:1px solid #CCC;
}
</style>
<script>
$(function(){
    if(window.MULTI_STANDS_INITED) return;
    window.MULTI_STANDS_INITED = true;
    var $standsRows = $('#standsTable tbody');
    var addStandRow = function(){
        var tr_num=$standsRows.find('tr').size();
        var $tr = $("<tr><td  align='center' ><input type='text' class='field' style='width:50px;' name='prop_"+tr_num+"'></td></tr>");
        var $val_td = $('<td></td>');
        for(var i=1;i<=8;i++){
            $val_td.append(
                $('<input />').addClass('field').css({width:80,marginRight:5})
                                          .attr({type:'text',name:'val_'+tr_num + '[]'})
            );
        }
        $standsRows.append($tr.append($val_td));
        
    }
    //
    addStandRow();
    
    $("#addStand").click(function(){ addStandRow();});

    $("#delStand").click(function()
    {
        if($standsRows.find('tr').size() > 1){
            $standsRows.find('tr:last-child').remove(); 
        }
    });
    $("#standSave").click(function()
    {
        var s = $standsRows.find('tr').size();
        var stand_val = new Array();
        for(var i=0;i<s;i++)
        {
            var cur = i;
            var prop = $("input[name='prop_"+cur+"']").val();
            stand_val[i] = new Array();
            $("input[name='val_"+cur+"[]']").each(function(m)
            {
                if($(this).val() !='')
                {
                  stand_val[i][m] = '{'+prop+':'+$(this).val()+'}'; 
                }
            });
        }
        var url='project/Car/getMultiStands';
        var params='stand_val='+stand_val;
        $.ajax({
            type: "post",
            url: url,
            data:params,
            success: function(result)
            {
                $('#car_ss').html(result);
            },
            error: function()
            {
              return false;
            }
        });     
    });
});
</script>



